<a href="https://colab.research.google.com/github/oneveth/univercity/blob/main/tasks/ex_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #12, 15

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [21]:
# Ваш код
numbers = ['1', '2', '3', '4', '5']
l = [int(x) for x in numbers]
ll = map(lambda x: x**3, l)
print(list(ll))

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [23]:
# Ваш код
words = ['level', 'python', 'radar', 'world', 'rotor']
l = [x for x in words]
ll = filter(lambda x: x[0] == x[-1], l)
print(list(ll))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [24]:
# Ваш код
from functools import *
numbers = [47, 11, 42, 102, 13]
l = [int(x) for x in numbers]
ll = reduce(lambda x, y: max(x,y), l)
print(ll)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [3]:
# Ваш код
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list(map(lambda x : (x[0]**2, x[1]**3), zip(list1, list2))))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [9]:
# Ваш код
from functools import *
numbers = '1,2,3,4,5,6,7,8,9,10'
l = [int(x) for x in numbers.split(',')]
ll =filter(lambda x: x%2==0, l)
lll = reduce(lambda x,y : x+y, ll)
print(lll)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [11]:
# Ваш код
celsius = [0, 15, 30, 100]
print(list(map(lambda x : x*(9/5)+32, celsius)))

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [12]:
# Ваш код
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l = list(filter(lambda x : x%2 != 0, numbers))
print(list(map(lambda x : x**2, l)))

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [14]:
# Ваш код
from functools import *
numbers = [1, 2, 3, 4, 5]
print(reduce(lambda x,y : x*y, numbers))

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [15]:
# Ваш код
strings = ['10', '20', 'abc', '30', 'def']

print(list(map(lambda x : int(x) if x.isdigit() == True else 0, strings)))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [16]:
# Ваш код
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]
print(list(zip(x_coords, y_coords)))

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [17]:
# Ваш код
words = ['apple', 'banana', 'cherry']
print(dict(map(lambda x: (x, len(x)), words)))

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [19]:
# Ваш код

[2, 3, 4, 5, 6, 7, 8, 9, 10]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [26]:
# Ваш код
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
l = zip(list1, list2, list3)
print(list(map(lambda x: sum(x), l)))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [27]:
# Ваш код
text = 'Functional programming with lambda functions'
l = reduce(lambda x,y : {**x,y : x.get(y, 0)+1}, text.lower(), {})
print(max(l, key=l.get))

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [39]:
# Ваш код
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
vowels = ['a', 'e', 'i', 'o', 'u']
print(list(map(lambda x: map(lambda xx: xx in vowels, x), words)))

['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

---